<h1 id="date"><%= Time.now.to_formatted_s(:long) %></h1>
<div class="buttons"> 
	<%= button_to "MARCAR ENTRADA", registres_path(tipus: 'entrada'), method: :post, class: "btn btn-success", :disabled => entrada_marcada %>
	<%= button_to "MARCAR SORTIDA", registres_path(tipus: 'sortida'), method: :post, class: "btn btn-warning", :disabled => sortida_marcada %>
</div>





