<h1>Users</h1>
<table class="table" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuari</th>
      <th scope="col">Últim Registre</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index do |user, index|%>
		<tr>
	      <th scope="row"><%= index + 1 %></th>
	      <td><%= link_to user.name, user_path(user), method: :get %></td>
	     <td><%= user.registres.last.created_at.to_formatted_s(:short) + " - " + user.registres.last.tipus.upcase %></td>
	    </tr>
	<% end %>
  </tbody>
</table>