<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<div id="user-header">
  <h3>Registres</h3>
  <% if @current_user.role == 1 %>
    <div>
      <%= button_to "Exportar a fitxer .csv", csv_path(id: @user.id), method: :get %>
    </div>
  <% end%>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hora</th>
      <th scope="col">Tipus</th>
    </tr>
  </thead>
  <tbody>
    <% @user.registres.each.with_index do |registre, index|%>
		<tr>
	      <th scope="row"><%= index + 1 %></th>
	      <td><%= registre.created_at.localtime.to_formatted_s(:short)  %></td>
	      <td><%= registre.tipus.upcase %></td>
	    </tr>
	<% end %>
  </tbody>
</table>
