<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Sigma Industrial Precision", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            	<% if @current_user.role == 1 %>
              		<li><%= link_to "Usuaris", '/users' %></li>
              	<% end%>
              	<li><%= link_to @current_user.name, current_user %></li>
              	<li><%= link_to "Sign out", '/logout' %></li>
            <% else %>
              <li><%= link_to "Sign in", '/login' %></li>
            <% end %>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
